@font-face {
  font-family: "Recharge";
  src: url("@/static/fonts/recharge/recharge-bd.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("@/static/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("@/static/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("@/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("@/static/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("@/static/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("@/static/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("@/static/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: light;
  font-style: italic;
}
