@import "tailwindcss";

:root {
  --background: #171717;
  --main: #fff102;
  --textMain: #ffffff;
  --textYellow: #fff102;
  --textBlack: #171717;
}

@font-face {
  font-family: "Super-Joyful";
  src: url("../public/fonts/Super-Joyful.ttf");
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../public/fonts/Satoshi-Medium.otf");
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/fonts/Satoshi-Bold.otf");
}

body,
html {
  overflow-x: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
  background: rgba(23, 23, 23, 1);
  color: var(--textMain);
  font-family: Arial, Helvetica, sans-serif;
}

// Background Class
.bg-primary {
  background-color: var(--main);
}

.bg-dark {
  background-color: var(--background);
}

.bottom-black-gradient {
  background: linear-gradient(to bottom, rgba(23, 23, 23, 0), rgba(23, 23, 23, 1));
}

.left-black-gradient {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
}

// Text Class
.text-main {
  color: var(--textMain);
}

.text-yellow {
  color: var(--textYellow);
}

.text-dark {
  color: var(--textBlack);
}

.text-primary-gradient {
  background: linear-gradient(#fff102, #fcc903);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.joyful-font {
  font-family: "Super-Joyful";
}

.satoshi-font {
  font-family: "Satoshi";
}

.satoshi-font-medium {
  font-family: "Satoshi-Medium";
}

.satoshi-font-bold {
  font-family: "Satoshi-Bold";
}

// Shadow class
.white-shadow {
  box-shadow: 0 0 6px 0 white;
}

.border-white {
  border: 2px solid white;
}

.border-yellow {
  border: 2px solid #fff102;
}

.hover-border-yellow {
  &:hover {
    border: 2px solid #fff102;
  }
}

.hover-yellow-shadow {
  &:hover {
    box-shadow: 0 0 6px 0 #fff102;
  }
}
